<div class="references">
    <h1>References</h1>
    
    <div class="ref-item">
        Abbott, B. P. et al. (LIGO/Virgo) (2017). GW170817: Observation of gravitational waves from a binary neutron star inspiral. <em>Phys. Rev. Lett.</em> 119, 161101.
    </div>
    
    <div class="ref-item">
        Ashby, N. (2003). Relativity in the Global Positioning System. <em>Living Rev. Relativity</em> 6, 1.
    </div>
    
    <div class="ref-item">
        Bekenstein, J. D. (1993). The relation between physical and gravitational geometry. <em>Phys. Rev. D</em> 48, 3641.
    </div>
    
    <div class="ref-item">
        Bothwell, T. et al. (2022). JILA Sr optical lattice clock with 10⁻¹⁸ stability and accuracy. <em>Nature</em> 602, 420–424.
    </div>
    
    <div class="ref-item">
        Boulder Atomic Clock Optical Network (BACON) Collaboration (2021). Frequency ratio measurements at 18-digit accuracy using an optical clock network. <em>Nature</em> 591, 564–569.
    </div>
    
    <div class="ref-item">
        Burrage, C. & Sakstein, J. (2018). Tests of chameleon gravity. <em>Living Rev. Relativity</em> 21, 1.
    </div>
    
    <div class="ref-item">
        Damour, T. & Polyakov, A. M. (1994). The string dilaton and a least coupling principle. <em>Nucl. Phys. B</em> 423, 532.
    </div>
    
    <div class="ref-item">
        Hofmann-Wellenhof, B., Lichtenegger, H. & Wasle, E. (2008). <em>GNSS – Global Navigation Satellite Systems</em>. Springer.
    </div>
    
    <div class="ref-item">
        Khoury, J. & Weltman, A. (2004). Chameleon fields: Awaiting surprises for tests of gravity in space. <em>Phys. Rev. Lett.</em> 93, 171104.
    </div>
    
    <div class="ref-item">
        Milgrom, M. (1983). A modification of the Newtonian dynamics as a possible alternative to the hidden mass hypothesis. <em>ApJ</em> 270, 365.
    </div>
    
    <div class="ref-item">
        Petit, G. & Luzum, B. (2010). IERS Conventions (2010). <em>IERS Technical Note</em> 36.
    </div>
    
    <div class="ref-item">
        Planck Collaboration (2020). Planck 2018 results. VI. Cosmological parameters. <em>A&A</em> 641, A6.
    </div>
    
    <div class="ref-item">
        Riess, A. G. et al. (2022). A comprehensive measurement of the local value of the Hubble constant. <em>ApJ</em> 934, L7.
    </div>
    
    <div class="ref-item">
        Smawfield, M. L. (2025a). The Temporal Equivalence Principle: Dynamic Time, Emergent Light Speed, and a Two-Metric Geometry of Measurement. Zenodo. DOI: <a href="https://doi.org/10.5281/zenodo.16921911">10.5281/zenodo.16921911</a>
    </div>
    
    <div class="ref-item">
        Smawfield, M. L. (2025b). Global Time Echoes: Distance-Structured Correlations in GNSS Clocks. Zenodo. DOI: <a href="https://doi.org/10.5281/zenodo.17127229">10.5281/zenodo.17127229</a>
    </div>
    
    <div class="ref-item">
        Smawfield, M. L. (2025c). Global Time Echoes: 25-Year Temporal Evolution of Distance-Structured Correlations in GNSS Clocks. Zenodo. DOI: <a href="https://doi.org/10.5281/zenodo.17517141">10.5281/zenodo.17517141</a>
    </div>
    
    <div class="ref-item">
        Smawfield, M. L. (2025d). Global Time Echoes: Raw RINEX Validation of Distance-Structured Correlations in GNSS Clocks. Zenodo. DOI: <a href="https://doi.org/10.5281/zenodo.17860166">10.5281/zenodo.17860166</a>
    </div>
    
    <div class="ref-item">
        Smawfield, M. L. (2025e). Global Time Echoes: Cosmological Implications of Distance-Structured Correlations in GNSS Clocks. Zenodo. DOI: <a href="https://doi.org/10.5281/zenodo.17982540">10.5281/zenodo.17982540</a>
    </div>
    
    <div class="ref-item">
        Teunissen, P. J. G. & Montenbruck, O. (Eds.) (2017). <em>Springer Handbook of Global Navigation Satellite Systems</em>. Springer.
    </div>
    
    <div class="ref-item">
        Touboul, P. et al. (2022). MICROSCOPE mission: test of the equivalence principle in space. <em>Phys. Rev. Lett.</em> 129, 121102.
    </div>
    
    <div class="ref-item">
        Will, C. M. (2014). The Confrontation between General Relativity and Experiment. <em>Living Rev. Relativity</em> 17, 4.
    </div>
</div>
